MyPerfectApp/.vs/config/applicationhost.config
MyPerfectApp/.vs/MyPerfectApp/v15/Server/sqlite3/storage.ide-wal
MyPerfectApp/.vs/MyPerfectApp/v15/Server/sqlite3/storage.ide-shm
MyPerfectApp/.vs/MyPerfectApp/v15/Server/sqlite3/storage.ide
MyPerfectApp/.vs/MyPerfectApp/v15/Server/sqlite3/db.lock
MyPerfectApp/.vs/MyPerfectApp/v15/.suo
